@{
    ViewBag.Title = "Home Page";
}

<h1>Lorem Ipsum Generator</h1>
  
 <p>How many paragraphs do you need (1-100):</p>
  
 <input id="countInput" type="number">
  
 <button type="button" onclick="generateLoremText()">Submit</button>
 <p id="validationText"></p>
  
 <hr />
  
 <p id="loremText"></p>